.layout__background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .layout__title {
    width: 30%;
    position: relative;
    overflow: visible;
  }
  
  .layout__banner_img {
    height: 420px;
    width: 420px;
    position: absolute;
    z-index: 50;
    right: -20%;
  }
  
  .layout__head-cont {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .layout__head {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
  
    color: #ffffff;
  }
  
  .layout__card {
    background-color: white;
    width: 75%;
    padding-left: 50px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  
  .layout__page {
    box-sizing: border-box;
    width: 50%;  
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  
  .layout__btn {
    background: #b0d8da;
    border-radius: 8px;
    color: white;
    border: 0px !important;
    outline: 0px !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    padding: 0.5rem 0;
    width: 100%;
  }
  
  .layout__btn:hover {
    cursor: pointer;
  }
  
  .layout__inp_field {
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  
  form .login-inp {
    position: relative;
    margin: 30px 0;
  }

  form .signup-inp {
    position: relative;
    margin: 15px 0;
  }
  
  .layout__txt_field {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #5a5a5a;
  }
  
  .layout__txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .layout__pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  
  .layout__pass:hover {
    text-decoration: underline;
  }
  
  .layout__signup {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
  }
  
  .layout__log {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
  
    color: #5a5a5a;
  }
  
  .layout__footer_link {
    cursor: pointer;
    text-decoration: none !important;
    color: #4ba4a8;
    margin-left: 10px;
  }
  .login__errDiv{
    margin-left: 5px;
    font-size: 15px !important;
  }
  .layout__field_input{
    border: 0px !important;
    border-bottom: 1px solid #999 !important;
    height: 3rem !important;
    border-radius: 0px !important;
  }
  .layout__field_input:focus{
    border: 0px !important;
    border-bottom: 1px solid #999 !important;
    height: 3rem !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  .layout__customMainAlert{
    font-family: "Inter";
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0rem !important;
  }